<div class="flex h-screen w-full overflow-hidden">
    <!-- Sidebar -->
  
    <div class="flex grow flex-col content-start overflow-hidden bg-gray-100 dark:bg-night-800">
      <!-- Header -->
      <!-- main content -->
      <div
        id="main-content"
        class="p-12 scrollbar-thumb-rounded scrollbar-track-rounded grow overflow-auto scrollbar-thin scrollbar-thumb-white scrollbar-track-gray-100 dark:scrollbar-thumb-night-700 dark:scrollbar-track-night-800">
        <router-outlet></router-outlet>
        <mat-tab-group>
            <mat-tab  label="Cuenta">
                <p class="text-white">tetae</p>
            </mat-tab>
            <mat-tab label="Perfil">

            </mat-tab>
            <mat-tab label="Accesibilidad">

            </mat-tab>
          </mat-tab-group>
      </div>
  
      <!-- footer -->
  
      <!-- Bottom bar -->
      <!-- <app-bottom-navbar></app-bottom-navbar> -->
    </div>
  </div>
  