    <div class="flex">
        <div class="-ml-1 relative w-full">
            <input [(ngModel)]="dni" type="search" class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-e-lg border-s-gray-50 border-s-2 border border-gray-300 dark:bg-dark-600  dark:border-s-dark-600  dark:border-dark-600 dark:placeholder-gray-400 dark:text-white" placeholder="Buscar DNI del cliente" required>
            <button (click)="search()" class="absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white bg-primary-700 rounded-e-lg border border-primary-700 hover:bg-primary-800 dark:bg-primary-600 dark:hover:bg-primary-700">
                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
                <span class="sr-only">Buscar</span>
            </button>
        </div>
    </div>
