<div class="mx-auto px-4 py-4 sm:px-8 lg:container">
    <div class="flex-col rounded-lg bg-white px-8 py-8 mx-8 my-9 dark:bg-night-700 sm:flex-row">
      <div class="mb-4 flex items-center justify-between">
        <div class="flex-col items-center">
          <h3 class="text-md font-bold text-gray-900 dark:text-night-50">Añadir contrato</h3>
          <span class="text-sm text-gray-400 dark:text-night-300">Formulario de añadido</span>
        </div>
      </div>
  
      <div class="relative overflow-x-auto">
        <form (ngSubmit)="saveContratoData()" #form="ngForm" autocomplete="off" class="max-w-xl mx-0">
  
          <div class="mb-5">
            <label for="dni_cliente" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">DNI Cliente</label>
            <input type="number" name="dni_cliente" [(ngModel)]="dni_cliente" id="dni_cliente" class="[appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-8/12 p-2.5 dark:bg-dark-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required>
          </div>
  
          <div class="flex items-center">
            <div class="mb-5 mr-5">
              <label for="id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">ID Contrato</label>
              <input type="number" name="id" [(ngModel)]="id" id="id" class="[appearance:textfield] bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-dark-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required>
            </div>
  
            <div class="mb-5">
              <label for="cups" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">ID Contador</label>
              <select id="cups" name="cups" [(ngModel)]="cups" (ngModelChange)="onCupsChange($event)" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-night-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
                <option *ngFor="let contador of contadores" [ngValue]='contador.cups'>{{ contador.cups }}</option>
              </select>
            </div>
          </div>

          <div class="mb-5">
          <label for="tarifa" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tipo Tarifa</label>
            <select id="tarifa" name="id_tarifa" [(ngModel)]="id_tarifa" (ngModelChange)="onIdTarifaChange($event)" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-night-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500 w-8/12">
              <option [ngValue]='1'>PVPC</option>
              <option [ngValue]='2'>Privada</option>
            </select>
          </div>
  
          <div class="mb-5">
            <label for="homologado" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Homologado</label>
            <select id="homologado" name="homologado" [(ngModel)]="homologado" (ngModelChange)="onHomologadoChange($event)" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-night-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500 w-8/12">
              <option [ngValue]="true">Sí</option>
              <option [ngValue]="false">No</option>
            </select>
          </div>
        
  
          <div class="mt-6 flex items-center justify-end gap-x-6">
            <button type="button" class="text-sm font-semibold leading-6 text-night-200 hover:text-primary-500">Cancelar</button>
            <button type="submit" (click)="saveContratoData()" [disabled]="isButtonDisabled" class="rounded-md bg-primary-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-primary-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 ">Añadir</button>
          </div>
        </form>
      </div>
    </div>
    <app-error-message [errorMessage]="errorFromServer"></app-error-message>
  </div>
  